*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;

}
body{
    background-image: linear-gradient(rgba(10, 10, 10, 0.6),rgba(5, 5, 5, 0.6)), url('https://image.freepik.com/vetores-gratis/big-ben-e-a-ponte-westminster-em-londres-a-noite-ilustracao-vetorial-no-estilo-cartoon_273525-67.jpg'); 
    background-size: cover;
    font-family: 'Roboto'sans-serif;
}
.container{
    width: 700px;
    height: 500px;
    box-shadow: 40px 40px 30px #080808ef;
    margin: 5% auto;
    overflow: hidden;
    border-radius: 30px;
}
.login b{
    font-size: 14px;
}
#cover{
    /* background: linear-gradient(to right, #3189b6 , #00c6ff 100%); */
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('https://i.pinimg.com/originals/a9/b5/c4/a9b5c4ae204197cf0a8144982852a4ae.jpg');
    background-size: cover;
    color: #fff;
    height: 550px;
    margin: 0 0 0 50%;
    position: relative;
    text-align: center;
    transition: margin 0.7s, background 0.5s, display 1s, width 1s;
    width: 50%;
    z-index: 5;
}
#cover h1{
    padding-top: 38%;
}
#cover p{
    font-family: 'ABeeZee', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    padding: 30px 45px 40px;
}
.sign-in{
    display: none;
}
.sub{
    position: relative;
    top: -11px;
}
#cover:target{
    margin: 0;
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('../img/op.jpg');
     background-size: cover;
}
#cover:target .sign-in{
    display: inline-block;
}
#cover:target .sign{
    display: none;
}
.button{
    border: 1px solid #fff;
    border-radius: 20px;
    color: #fff;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 15px 60px;
    text-decoration: none;
    text-transform: uppercase;
}
.login, .register{
    background:linear-gradient(rgba(255, 254, 254, 0.6),rgba(177, 180, 182, 0.863)), rgb(255, 255, 255);
    height: 100%;
    position: relative;
    width: 50%;
    text-align: center;
    top: -550px;
    z-index: 1;
}
.login{
    float: left;
}
.register{
    float: right;
}
.login h1, .register h1{
    padding: 20% 0 25px;
}
.login h1{
    color: black;
}
.register h1{
    color: black;
}
.login p, .register p{
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.3px;
    padding: 20px;
}
.social-login i{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    color: #000;
    font-size: 25px;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 20px rgb(7, 7, 7);
    cursor: pointer;
}
.social-login i:hover{
    transform: rotate(0deg) skew(0deg)translate(0,-10px);
    background-color: #e4405f;
}
.social-login:nth-child(2) i:hover{
    background-color: #3b5999;
}
.social-login:nth-child(3) i:hover{
    background-color: #55acee;
}
.social-login .fa:hover{
    color: #fff;
}
.input-field{
    background: #fff;
    font-weight: 300;
    margin: 5px;
    padding: 10px;
    width: 280px;
    border: 1px solid #000;
    border-radius: 20px;
    outline: none;
}
#forgot-pass{
    border-bottom: 1px solid #ccc;
    color: #000;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.3px;
    padding: 3px;
    text-decoration: none;

}
.submit-btn{
    border: none;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
    font-size: 11px;
    letter-spacing: 1px;
    margin-top: 20px;
    padding: 15px 50px;
    text-transform: uppercase;
    outline: none;
}
.login .submit-btn{
    background: linear-gradient(135deg, #3189b6 30%, #00c6ff 90%);
    /* background:#1aadd6; */
    border: 1px solid black;
}
.login .submit-btn:hover{
    background: linear-gradient( #ffffff 30%, #ffffff);
    /* background: white; */
    border: 1px solid black;
    color: black;
    transition: 1.2s;
}
.register .submit-btn{
    background: linear-gradient(to right, #3189b6 0, #00c6ff 100%);
    /* background: #1aadd6; */
    border: 1px solid black;
    transition: background 2.2s;
}
.register .submit-btn:hover{
    background: linear-gradient( #ffffff 30%, #ffffff);
    /* background: white; */
    border: 1px solid black;
    color: black;
    transition: 1.2s;
}
.div-seta{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.img-load{
    margin-left: 142px;
    width: 60px;
    height: 60px;
}
.load-two{
    margin-left: 150px;
}
.login img{
    height: 53px;
    margin-right: 250px;
    margin-top: 10px;
    cursor: pointer;
}